.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

img {
    max-width: 50%;
}

.row {
    padding-top: 10px;
}

.dropdown-item {
    background-color: whitesmoke;
}

.selected {
    text-decoration: line-through;
}