.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

img {
    max-width: 50%;
}

.row {
    padding-top: 10px;
}

ul.errorlist {
    display: none;
}

/*.form-group.fav_book2{*/
/*    display: none;*/
/*}*/

/*.fav_book1{*/

/*}*/

/*button#select_list {*/
/*    display: none;*/
/*}*/
