{% extends "base_generic.html" %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            {#var data = new google.visualization.DataTable();#}

            {#var stat2 = jQuery.parseJSON('{{Statistics|escapejs}}');#}
            {#var stat2 = {{power|safe}};#}
            var x = {{ power.Statistics | safe }};
            {#var obj = JSON.parse(x);#}
            console.log("stat2",x);
            {#console.log("obj = ", obj);#}
            console.log("---------------");

            var data = google.visualization.arrayToDataTable(x);

            var options = {
                title: "Number of responses per category",
                width: 1000,
                height: 400,
                bar: {groupWidth: "75%"},
                legend: { position: "in" },
                hAxis: {title: "Categories", titleTextStyle:{bold: 1}},
                vAxis:{title:"Count", titleTextStyle: {bold: 1}},
                isStacked: true,
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('my_data'));
            chart.draw(data, options);
            {#console.log("-----------------------")#}
        }

    </script>

{% endblock %}

{% block content %}

    <div id="my_data">

    </div>

{% endblock %}


